<!DOCTYPE html>
<html ng-app="angularRailsDemo">
<head>
  <title>AngularRailsDemo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ng-view></ng-view>

  <%= javascript_include_tag "application" %>
</body>
</html>